<!DOCTYPE HTML>
<html>
<head>  
	<link rel="stylesheet" type="text/css" href="~/css/main.css" />
	<script src="less.js" type="text/javascript"></script>


	@await Html.PartialAsync("MetaTagsPartial")
	@await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">

	<!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header>
            @await Html.PartialAsync("HeaderPartial")
        </header>
        <!--Dynamic content-->
        <div id="banner">
            @RenderBody()
        </div>
        <!-- Banner -->
        <div id="banner">
            @await Html.PartialAsync("BannerPartial")
        </div>
        <!-- Wrapper -->
        <div id="wrapper">
            @await Html.PartialAsync("WrapperPartial")
        </div>
        <!-- Footer -->
        <div id="footer">
            @await Html.PartialAsync("FooterPartial")
        </div>


    </div>

	<!-- Scripts -->
	@await Html.PartialAsync("ScriptsPartial")

</body>
</html>