@using WebApp.Service;
<section id="footer">
	<div class="inner">
		<h2 class="major">Get in touch</h2>
		<ul class="copyright">
			<li>&copy; @Config.CompanyName Inc. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</section>