<header id="header" class="alt">
    <h1><a href="index.html"></a>@Config.CompanyName</h1>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index">Main</a>
        <a asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
        <a asp-area="" asp-controller="Home" asp-action="News">News</a>
        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Services</a>
    </nav>
</header>