@model IQueryable<NewsItem>
@{
    NewsItem textField = ViewBag.NewsItem;
    //ViewBag.Title = textField.MetaTitle;
    //ViewBag.Description = textField.MetaDescription;
    //ViewBag.Keywords = textField.MetaKeywords;
}

<div>
    <h1>Our news</h1>
    @if (Model.Any() ) 
    {
    <ul class="big-image-list">
        @foreach (NewsItem entity in Model)
        {
            if (entity.IsApproved == true)
            {
                <li>
                    <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                    </a>
                    <h4>@entity.Title</h4>
                    <p>@entity.Text</p>
                </li>
            }

        }
    </ul>
    }
</div>